<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple To-Do</title>
    <script src="https://kit.fontawesome.com/9194c98a7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="container">
        <h1>Simple To-Do</h1>

        <form action="/newTodo" method="POST">
            <input type="text" name="toDoName" id="toDoName" placeholder="New ToDo" required>
        </form>

        <ul>
            <%=[0].name%>

            <%toDos.forEach((toDo) => {%>
                <li>
                    <a href="/todo/<%=toDo._id%>"><%=toDo.name%></a>
                    <a href="/todo/<%=toDo._id%>/delete"><i class="far fa-trash-alt"></i></a>
                </li>
            <%});%>
        </ul>
    </div>
</body>
</html>