<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/9194c98a7c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/todo.css">
    <title><%=todo.name %></title>
</head>
<body>
    <div class="container">
        <h1><%=todo.name %></h1>


        <form action="" method="POST">
            <input type="text" name="taskName" id="taskName" placeholder="Nova Tarefa" required>
        </form>

        <ul>
            <li>
                <span>
                    Construir componente que usa as contas cadastradas para realizar testes no serviço de validação e efetivação de pagamento de fatura avulsa
                </span>
                <span class="icons">
                    <a href=""><i class="fas fa-check"></i></a>
                    <a href=""><i class="fas fa-exclamation"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </span>
            </li>

            <li class="priorized">
                <span>
                    Construir componente que usa as contas cadastradas para realizar testes no serviço de validação e efetivação de pagamento de fatura avulsa
                </span>
                <span class="icons">
                    <a href=""><i class="fas fa-check"></i></a>
                    <a href=""><i class="fas fa-exclamation"></i></a>
                    <a href=""><i class="far fa-trash-alt"></i></a>
                </span>
            </li>

            <li class="done">
                <span>
                    Construir componente que usa as contas cadastradas para realizar testes no serviço de validação e efetivação de pagamento de fatura avulsa
                </span>
                <span class="icons">
                    <a href=""><i class="fas fa-redo-alt"></i></i></a>
                </span>
            </li>
        </ul>

    </div>
</body>
</html>